*{
    box-sizing: border-box;
}

.section_title{
    position:relative;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}

.section_title::after{
    content:'';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width:  45px;
    height: 2px;
    background-color: black;
}

.page_width{
    position: relative;
    display: block;
    width: 1182px;
    margin-bottom: 117px;
    justify-content: center;
}

/*heade block*/
header{
    display: flex;
    justify-content: center;
}

.header_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../img/topbg.png");
    border-style: none;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 140px;
    max-width: 1800px;
}

.navbar_font{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.94px;
}

.active{
    position: relative;
}

.active::after{
    content:'';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width:  100%;
    height: 2px;
    background-color: #4CAF50;
}


.afterEffect{
    position:relative;
}

.afterEffect:hover::after{
    content:'';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width:  18px;
    height: 2px;
    background-color: #4CAF50;
}


.gradient{
    background: linear-gradient(177.86deg, #000000 -48%, rgba(0, 0, 0, 0.0001) 96%);
    height: 904px;
    box-sizing: border-box;
    width: 100%;
}

.title_container{
 
    padding-top: 383px;
}

.title {

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    letter-spacing: 4.608px;
    text-align: center;
    color: #FFFFFF;
}

.sub_title{
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    box-sizing: border-box;

}



/*About block*/


.sqwd{
    position: absolute;
    display: flex;
    width: 590px;
    height: 411px;
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
    left: -19px;
    top: -19px;

}

.sqwd img{
    position: absolute;
    left: 212px;
    z-index: 3;
}

.green_rect{
    width: 309px;
    height: 418px;
    position: absolute;
    top:62px;
    left: 403px;
    background-color: #4CAF50;
    opacity: 0.8;
    z-index: 2;
}

.about_title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    left: 0px;
    top: 73px;
    letter-spacing: 2.304px;
    color: #333333;
}


.about_subtitle{
    position: absolute;
    top: 149px;
    font-family: 'OpenSans';
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 2.688px;
    color: #504E4E;
    z-index: 4;
}

.about_desc{
    position:absolute;
    top:238px;
    left:70px;
    width:281px;
    z-index: 4;
}

.about_desc_list{
    list-style-position: outside;
    list-style-type: symbols("-");

}

.hang-man{
    position: absolute;
    top:168px;
    left:613px;
}


.hang_man_desc{
    position:absolute;
    top:404px;
    left:870px;
    width:281px;
    z-index: 4;
}

.hang_man_desc_list{
    list-style-position: outside;
    list-style-type: symbols("-");
}

/* Services*/

.services{
    display: flex;
    position: relative;
    justify-content: center;
}

.services_container{
    margin-top: 94PX;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 44px 50px 44px;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 5px;
}

.service_container:hover{
    border-bottom: 3px solid #70BF73;
}

.service_title{
    position: relative;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
    max-width: 373px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.service_title::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width:  35px;
    height: 2px;
    background-color: black;
}

.container_servies_ico{
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #727070;
    top: 50px;
    right: 44px;
}

.service_ico{
    margin: auto;
    width: 25px;
    height: 25px;
}

.service_desc_container{
    max-width: 281px;;
}

.service_desc{
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    color: #777777;
}

.service_more{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    text-decoration: none;

    color: #252525;

    mix-blend-mode: normal;
    opacity: 0.5;

}

.service_more:hover{
    color: black;
}

/*Latest works, i.e. portfolio*/
.portfolio{
    position: relative;
    display: flex;
    justify-content: center;
}

.protfolio_wrap{
    display: block;
    flex-wrap: wrap;
    position: relative;
    max-width: 1185px;
    width: 100%
}

.nav-portfolio{
    display: flex;
}

.menu-portfolio {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
.menu-portfolio li {
    display: inline-block;
    margin-right: 40px;
}
.menu-portfolio li:last-of-type{
    margin-right: 0px;
}

.menu-portfolio a {
    text-decoration: none;
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    color: #252525;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.menu-portfolio a:hover{
    color: #000000; 
    opacity: 0.7;   
}

.porfolio_card_span{
    width: 455px;
    height: 444px;
    left: 0px;
    top: 0px;
    background: #F3F4F6;
}

.protfolio_card_half_upper{
    position:relative;
    top: -50%;
}


.portfolio_card_left_col_title{
    position: absolute;
    top: 371px;
    left: 294px;
    width: 208px;
    height: 142px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}